
.topNav{
  height: 40px;
  background: #333;
}
/* 左 */
.leftTopNav .gather{
  font-size: 12px;
}
.leftTopNav .gather .subset{
  float: left;
  line-height: 40px;
  
}
.leftTopNav .gather .subset .link{
  text-decoration: none;
  color: #b0b0b0;
  display: inline-block;
}
.leftTopNav .gather span{
  width: 3px;
  height: 16px;
  line-height: 40px;
  margin: 0 3.6px;
  color: #424242;
}
.leftTopNav .gather .Download{
  position: relative;
}
.leftTopNav .gather .Download a{
  text-decoration: none;
  color: #b0b0b0;
}
.leftTopNav .gather .Download .popDownload{
  position: absolute;
  top: 40px;
  left: -35px;
  width: 124px;
  height: 148px;
  box-shadow: 0 1px 5px #aaa;
  display: none;
}

.leftTopNav .gather .Download .popDownload img{
  display: block;
  width: 90px;
  height: 90px;
  margin:18px auto 12px;
}
.leftTopNav .gather .Download .popDownload::before{
 content: "";
 position: absolute;
 top: -5px;
 left: 50%;
 width: 0;
 height: 0;
 margin-left: -8px;
 border-width: 0 8px 8px;
 border-style: solid;
 border-color:  transparent transparent white;
}
.leftTopNav .gather .Download .popDownload p{
  text-align: center;
  font-size: 14px;
  line-height: 15px;
}
.leftTopNav .gather .Download:hover .popDownload{
  display: block;
}
.leftTopNav .gather .subset:hover .link{
  color: #fff;
}
/* 右 */
.rightTopNav {
  float: right;
  color: #424242;
  font-size: 12px;
}
.rightTopNav i{
  font-size: 14px;
  margin-right: 5px;
}
.rightTopNav a{
  text-decoration: none;
  color: #b0b0b0;
  display: inline-block;
  line-height: 40px;
  font-size: 12px;
}
.rightTopNav .empty {
  width: 3px;
  height: 16px;
  line-height: 40px;
  margin: 0 8px;
  
}
.rightTopNav .shop-car{
  width: 120px;
  line-height: 38px;
  margin-left: 20px; 
  color: #b0b0b0;
  display: inline-block;
  text-align: center;
  background: #424242;
  position: relative;
}
.rightTopNav .shop-car .carBox{
  width: 316px;
  height: 100px;
  position: absolute;
  right:0;
  top: 40px;
  background: #fff;
  box-shadow: 0 1px 5px #aaa;
  padding-top: 20px; 
  display: none;
}
.rightTopNav .shop-car .carBox p{
  line-height: 20px;
  padding: 20px 0;
  margin: 0 20px 20px;
}
.rightTopNav .shop-car:hover .carBox{
  display: block;
}
/* 菜单栏 */
.menu{
  height: 100px;
  position: relative;
}
.menu .pic{
  width: 62px;
  height: 55px;
  float: left;
  margin-top: 22px;
}
.menu .pic img{
  height: 100%;
  background: #ff6700;
  display: block;
}
.menu .gather{
 float: left;
 padding: 12px 0 0 30px;
}
.menu .gather .subset{
  float: left;
}
.menu .gather .subset:first-child{
  width: 127px;
  padding-right: 15px;
}
.menu .gather .subset .link{
  color: #333;
  font-size: 16px;
  text-decoration: none;
  padding: 26px 10px 38px;
  display: block;
}
.menu .gather .subset .link .down-ul{
  position: absolute;
  top: 88px;
  left:0;
  width: 1226px;
  height: 230px;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  display: none;
  z-index: 1001;
}
.menu .gather .subset .link .down-ul li{
  width: 176px;
  height: 165px;
  float: left;
  padding: 35px 12px 0;
  position: relative;
}
.menu .gather .subset .link .down-ul .down-li:after{
  content: "";
  width: 1px;
  height: 100px;
  position: absolute;
  right: 0;
  top:40px;
  background:#e0e0e0;
}
.menu .gather .subset .link .down-ul li img{
  margin: 0 auto 16px;
}
.menu .gather .subset .link .down-ul li p{
  color: #333;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.menu .gather .subset .link:hover .down-ul{
  display: block;
}
.menu .prin{
  width: 296px;
  height: 50px;
  float: right;
  margin-top: 25px;
  position: relative;
}
.menu .prin .search{
  float: left;
  width: 231px;
  height: 48px;
  border: 1px solid #b0b0b0;
  border-right: none;
  padding-left: 10px;
}
.menu .prin:hover .search,
.menu .prin:hover .sousuoicon{
  border-color: #757575;
}

.menu .prin .inline{
  position: absolute;
  top: 14px;
  right:62px ;
}
.menu .prin .inline span{
  font-size: 12px;
  color: #757575;
  padding: 0px 5px;
  margin-left: 5px;
  display: inline-block;
  background: #eee;
}
.menu .prin .sousuoicon{
  width: 48px;
  height: 48px;
  border: 1px solid #757575;
  float: left;
}
.menu .prin .sousuoicon .iconfont{
  font-size: 24px;
  position: relative;
  top: 12px;
  left: 12px;

}
/* 全部商品分类 */
.menu .gather .classify {
  position: relative;
}
.menu .gather .classify .down-menu{
  position: absolute;
  top: 88px;
  left: -92px;
  width: 234px;
  height: 420px;
  padding: 20px 0;
  background: rgba(105,101,101,.6);
  z-index: 1000;
}
.menu .gather .classify .down-menu .menu-li a{
  display: block;
  padding-left: 30px;
  text-decoration: none;
  line-height: 42px;
  color: #fff;
  font-size: 14px;
}
.menu .gather .classify .down-menu .menu-li i{
  float: right;
  margin-right: 15px;
  color: #e0e0e0;
  font-size: 22px;
}
.menu .gather .classify .down-menu .class-Box{
  position: absolute;
  left: 234px;
  top: 0;
  background: #fff;
  width: 990px;
  height: 460px;
  color: white;
  border:1px solid #e0e0e0;
  box-shadow: 0 8px 16px rgba(0,0,0,.18);
  display: none;
}
.menu .gather .classify .down-menu  .class-Box .class-ul{
  width: 242px;
  float: left;
}
.menu .gather .classify .down-menu  .class-Box .class-ul .class-li{
  width: 225px;
  height: 40px;
  padding: 18px 20px;
}
.menu .gather .classify .down-menu  .class-Box .class-ul .class-li a{
  text-decoration: none;
  color: #b0b0b0;
  font-size: 12px;
}
.menu .gather .classify .down-menu  .class-Box .class-ul .class-li a img{
  display:block;
  float: left;
  margin-right: 12px;
}
.menu .gather .classify .down-menu  .class-Box .class-ul .class-li a span{
  float: left;
  width: 172px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .gather .classify .down-menu .menu-li:hover .class-Box{
  display: block;
}
/* 轮播图 */
.carousel{
  height: 460px;
  overflow: hidden;
  position: relative;
}
.carousel .carousel-ul{
  width: 10000px;
}
.carousel .carousel-li{
  float: left;
}
.carousel .carousel-li img{
  height: 460px;
  display: block;
}
.carousel .leftArrow{
  position: absolute;
  left: 234px;
  top: 190px;
  width: 41px;
  height: 69px;
}
.carousel .leftArrow i{
   font-size: 40px;
   display: block;
   margin-top: 12px;
}
.carousel .leftArrow:hover{
  border: 1px solid #b0b0b0;
}
.carousel .rightArrow{
  position: absolute;
  right: 0;
  top: 190px;
  width: 41px;
  height: 69px;
}
.carousel .rightArrow i{
   font-size: 40px;
   display: block;
   margin-top: 12px;
}
.carousel .rightArrow:hover{
  border: 1px solid #b0b0b0;
}
.carousel .boot-page{
  position: absolute;
  bottom: 15px;
  right: 60px;
}
.carousel .boot-page a{
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #b0b0b0;
  margin: 0px 5px;
}
.carousel .boot-page a:first-child{
  background: #fff;
}
/* 功能区  */
.function{
  height: 170px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.function .left-function{
  width: 228px;
  height: 164px;
  padding: 3px;
  background: #5f5750;
  text-align: center;
  float: left;
}
.function .left-function li{
  width: 76px;
  height: 82px;
  float: left;
}
.function .left-function li a{
  display: block;
  padding-top: 18px;
  opacity: .7;
  color: #fff;
}
.function .left-function li a img{
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto 4px;
}
.function .left-function li a:hover{
  opacity: 1;
}
/* 右侧广告区 */
.function .right-generalize{
   width: 978px;
   height: 170px;
   float: left;
   margin-left: 14px;
}
.function .right-generalize li{
  width: 316px;
  height: 170px;
  float: left;
  margin-left: 15px;
}
.function .right-generalize li:first-child{
  margin-left: 0;
}
.function .right-generalize li a{
  display: block;
}
.function .right-generalize li a img{
  display: block;
  width: 316px;
  height: 170px;
}
/* 广告位置样式 */
.allContent{
  margin-top: 4px;
  margin-bottom: 12px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.allContent .mishangou{
  margin-bottom: 22px;
}

/* 内容 */
.allContent .content{
  height: 340px;
}
.allContent .content .left-info{
  float: left;
  width: 234px;
  height: 301px;
  padding-top: 39px; 
  text-align: center;
  background: #f1eded;
  margin-left: 14px;
}
.allContent .content .left-info .round{
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}
.allContent .content .left-info>i{
  display: block;
  font-size: 50px;
  color: #e53934;
  margin: 25px auto;
}
.allContent .content .left-info .desc{
  color: rgba(0,0,0,.54);
  font-size: 15px;
}
.allContent .content .left-info .time-down{
  width: 168px;
  margin: 20px auto 0;
  overflow: hidden;
}
.allContent .content .left-info .time-down span{
  width: 46px;
  height: 31px;
  color: #fff;
  background: #605751;
  padding-top: 15px;
  float: left;
}
.allContent .content .left-info .time-down i{
  width: 15px;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
  float: left;
}
.allContent .content .right-carousel{
  float: left;
  width: 978px;
  height: 340px;
  margin-left: 14px;
}
.allContent .content .right-carousel li{
  float: left;
  width: 234px;
  height: 339px;
  margin-right: 14px;
  background: #fff;
}
.allContent .content .right-carousel li:last-child{
  margin-right: 0;
}
.allContent .content .right-carousel li a{
  display: block;
  text-align: center;
  padding-top: 39px;
}
.allContent .content .right-carousel li img{
  width: 160px;
  height: 160px;
  margin: 0 auto 22px;
}
.allContent .content .right-carousel li .name{
  display: block;
  margin: 0 auto 3px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.allContent .content .right-carousel li .desc{
  width: 200px;
  height: 18px;
  margin: 0 auto 12px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b0b0b0;
}
.allContent .content .right-carousel li .price{
  margin: 0;
  color: #ff6709;
}
.allContent .content .right-carousel li .price del{
  color: #b0b0b0;
}
/* 广告 一 */
.home-banner{
  height: 120px;
  margin: 20px 0;
}
/* 手机头部 */
.phone{
  overflow: hidden;
}
.phone .title .option-span a{
  display: block;
  font-size: 0;
  font-size: 16px;
  line-height: 58px;
  color: #424242;
}
.phone .left-phone{
  float: left;
  width: 234px;
  height: 614px;
  margin-bottom: 14px;
  margin-left: 14px;
}
.phone .left-phone a{
  display: block;
}
.phone .left-phone img{
  width: 100%;
  height: 100%;
}
.phone .right-carousel li{
    height: 260px;
    padding: 20px 0;
}
